#data-div {
    display: none;
}

#detail-viewer {
    position: relative;    
}

#left-viewer {
    position: absolute;
}

#right-viewer {
    position: absolute;
}

#right-vierwer #loader {
	max-height: 100px;
	max-width: 100px;
}

#detail-viewer canvas {
	position: absolute;
	outline: 1px solid black;
}

.load {
    position: absolute; 
}

