body {
	font-family: Helvetica, sans-serif;
}

header {
	padding: 10px;
}

h1 {
	display: inline;
	font-size: 20pt;
}

#query-canvas {
	position: absolute;
	outline: 2px solid black;
	width: 50%;
	height: 100%;
}

#result-canvas {
	position: absolute;
	outline: 2px solid black;
	left: 50%;
	width: 60%;
	height: 100%;
}

.mesh-label {
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}

#finder {
	margin: 0 auto 0px;
}

#header {
	height: 100px;
}

#browser {
	height: 50px;
}
