<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />

    <title>Skull Atlas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/reset.css" />
    <link rel="stylesheet" href="static/css/ui-lightness/jquery-ui-1.8.13.custom.css" />
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/loader.css" />
    <link rel="stylesheet" href="static/css/control.css" />
    <script type="text/javascript">
        function hide (elements) {
          elements = elements.length ? elements : [elements];
          for (var index = 0; index < elements.length; index++) {
            elements[index].style.visibility = 'hidden';
          }
        }
        function show (elements) {
          elements = elements.length ? elements : [elements];
          for (var index = 0; index < elements.length; index++) {
            elements[index].style.visibility = 'visible';
          }
        }
    </script>
</head>

<body>
    <div id="header" class="ui-layout-north">
        <h1> &nbsp Skull Atlas</h1>
        <h1 id = 'skull_left'> &nbsp Left: </h1>
        <h1 id = 'skull_right'> &nbsp Right: </h1>
        <h1 id ='frame_num'> &nbsp Frame: 0/0</h1>

        <div class="videoContainer">
            <video id="myVideo"  height="50" >
            </video>
            <div class="control">
                <div class="btmControl">
                    <div class="btnPlay btn" title="Play/Pause video"><span class="icon-play"></span></div>
                    <div class="progress-bar">
                        <div class="progress">
                            <span class="bufferBar"></span>
                            <span class="timeBar"></span>
                        </div>
                    </div>

                    <div id="c-left" class="sound btn" style="padding: 0px"><<</div>
                    <div id="c-right" class="btnFS btn" style="padding: 0px">>></div>
                </div>   
            </div>
        </div>

    </div>

    <div id="data-div">
        {{data}}
    </div>  
    <div id="viewer" class="ui-layout-center">
        <div id="result-load" class="load", style="display: none; background-color: white;">
            <div id="loader">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="lading"></div>
            </div>
        </div>
        <div id="query-load" class="load", style="display: none; background-color: white;">
            <div id="loader">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="lading"></div>
            </div>
        </div>
        <canvas id="result-canvas"></canvas>
        <canvas id="query-canvas"></canvas>
    </div>

    <!-- LIBS -->
    <script src="static/lib/jquery-3.2.1.min.js"></script>
    <script src="static/lib/jquery-ui.js"></script>
    <script src="static/lib/underscore.js"></script>
    <script src="static/lib/backbone.js"></script>
    <script src="static/lib/three.js"></script>
    <script src="static/lib/orbitcontrols.js"></script>
    <script src="static/lib/detector.js"></script>
    <script src="static/lib/stats.min.js"></script>

    <!-- JAVASCRIPT SRC -->
    <script src="static/src/OBJLoader.js"></script>
    <script src="static/src/skullviewer.js"></script>
    <script src="static/src/skullviewer.manager.js"></script>
    <script src="static/src/skullviewer.view.viewer.scene.js"></script>
    <script src="static/src/skullviewer.view.viewer.js"></script>
    <script src="static/src/skullviewer.view.finder.js"></script>   
    <script src="static/src/skullviewer.view.browser.js"></script>
    <script src="static/src/skullviewer.app.js"></script>
    <script src="static/src/main.js"></script>

</body>
</html>
