<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />

    <title>Skull Atlas</title>

    <link rel="stylesheet" href="static/css/reset.css" />
    <link rel="stylesheet" href="static/css/ui-lightness/jquery-ui-1.8.13.custom.css" />
    <link rel="stylesheet" href="static/css/style.css" />
</head>
<body>

    <div id="header" class="ui-layout-north">
        <h1> &nbsp Skull Atlas</h1>
        <form id="finder">
            <input type="file" id="select-file" name="select-file" enctype="multipart/form-data" />
        </form>
    </div>

    <!--
    <div id="loader" class="ui-layout-west">
        <div id="menu">
        </div>
    </div>
    -->

    <div id="viewer" class="ui-layout-center">
        <canvas id="canvas"></canvas>
    </div>

    <!--
    <div id="panel" class="ui-layout-east">
        <div id="browser" class="ui-layout-center"></div>
        <div id="inspector" class="ui-layout-south"></div>
    </div>
    -->

    <div id="console" class="ui-layout-south">
        <div id="browser">
         &nbsp &nbsp Skull Model:
        </div>
    </div>

    <script src="static/lib/jquery.js"></script>
    <script src="static/lib/jquery.ui.js"></script>
    <script src="static/lib/jquery.layout.js"></script>
    <script src="static/lib/jquery.mousewheel.js"></script>
    <script src="static/lib/underscore.js"></script>
    <script src="static/lib/backbone.js"></script>
    <script src="static/lib/backbone.localstorage.js"></script>
    <script src="static/lib/scenejs.js"></script>

    <script src="static/src/webmol.js"></script>
    <script src="static/src/webmol.model.atom.js"></script>
    <script src="static/src/webmol.model.mesh.js"></script>
    <script src="static/src/webmol.collection.atom.js"></script>
    <script src="static/src/webmol.collection.mesh.js"></script>
    <script src="static/src/webmol.parser.out.js"></script>
    <script src="static/src/webmol.parser.pdb.js"></script>
    <script src="static/src/webmol.parser.raw.js"></script>
    <script src="static/src/webmol.parser.obj.js"></script>
    <script src="static/src/webmol.viewer.js"></script>
    <script src="static/src/webmol.view.viewer.js"></script>
    <script src="static/src/webmol.view.finder.js"></script>
    <script src="static/src/webmol.view.browser.js"></script>

    <script src="static/src/webmol.app.js"></script>

    <script src="static/src/main.js"></script>

</body>
</html>
