<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />

    <title>Skull Atlas</title>

    <link rel="stylesheet" href="static/css/reset.css" />
    <link rel="stylesheet" href="static/css/ui-lightness/jquery-ui-1.8.13.custom.css" />
    <link rel="stylesheet" href="static/css/style.css" />
</head>

<body>

    <div id="header" class="ui-layout-north">
        <h1> &nbsp Skull Atlas</h1>
        <form id="finder">
            <input type="file" id="select-file" name="select-file" enctype="multipart/form-data" />
        </form>
    </div>

    <div id="viewer" class="ui-layout-center">
        <canvas id="canvas"></canvas>
    </div>
    
    <div id="console" class="ui-layout-south">
        <div id="browser">
            &nbsp &nbsp Skull Model:
        </div>
    </div>


    <!-- LIBS -->
    <script src="static/lib/jquery-3.2.1.min.js"></script>
    <script src="static/lib/jquery-ui.js"></script>
    <script src="static/lib/underscore.js"></script>
    <script src="static/lib/backbone.js"></script>
    <script src="static/lib/three.js"></script>
    <script src="static/lib/three-OrbitControls.js"></script>


    <!-- JAVASCRIPT SRC -->
    <script src="static/src/OBJLoader.js"></script>
    <script src="static/src/skullviewer.js"></script>
    <script src="static/src/skullviewer.viewer.js"></script>
    <script src="static/src/skullviewer.view.viewer.js"></script>
    <script src="static/src/skullviewer.view.finder.js"></script>
    <script src="static/src/skullviewer.view.browser.js"></script>
    <script src="static/src/skullviewer.app.js"></script>
    <script src="static/src/main.js"></script>

</body>
</html>
